---
import Layout from '../layouts/Layout.astro';
import { XataClient } from '.././xata';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import styles from '../styles/cardSmall.module.css';
const xata = new XataClient({
  apiKey: import.meta.env.XATA_API_KEY,
  branch: import.meta.env.XATA_BRANCH
});

// Fetch products from the database
const { records: products } = await xata.db.product.getPaginated({
  pagination: {
    size: 200,
  },
});
const { records: categories } = await xata.db.product_category.getPaginated({
  pagination: {
    size: 200,
  },
});
const { records: product_configuration } = await xata.db.product_configuration.getPaginated({
  pagination: {
    size: 200,
  },
});
const { records: product_variation } = await xata.db.product_variation.getPaginated({
  pagination: {
    size: 200,
  },
});
const { records: product_variation_option } = await xata.db.product_variation_option.getPaginated({
  pagination: {
    size: 200,
  },
});







const findMostParentCategory = (categoryId) => {
  const productCategory = categories.find((category) => category.product_category_id === categoryId);

  if (productCategory) {
    // If the category has a parent, recursively find the parent category
    if (productCategory.parent_category_id) {
      return findMostParentCategory(productCategory.parent_category_id);
    } else {
      // If there is no parent, return the category name
      return productCategory.category_name;
    }
  }
  // Return a default value if category is not found
  return 'Category not available';
};
const findProductPrice = (productId) => {
  const productPriceConfig = product_configuration.find(config => config.product_item_id === productId);
  return productPriceConfig ? productPriceConfig.price : 'Price not available';
};
// Return the number of products in stock
const findProductQty = (productId) => {
  const productQtyConfig = product_configuration.find(config => config.product_item_id === productId);
  return productQtyConfig ? productQtyConfig.qty_in_stock : "Not in stock";
};
// Create page objects dynamically for each product
const pages = products.map(product => ({
  slug: `Products/${product.product_id}`,
  id: product.product_id,
  title: product.product_name,
  description: product.description,
  brand: product.product_brand,
  img: product.product_image,
  type: findMostParentCategory(product.category_id),
  category:categories.find(
                (category) => category.product_category_id === product.category_id
              )?.category_name || 'Category not available',
  priceDisplay: findProductPrice(product.product_id),
  qtyDisplay: findProductQty(product.product_id),
}));
// Add other static pages if needed

const { slug } = Astro.params;
const page = pages.find((page) => page.slug === slug);
if (!page) return Astro.redirect("/HobbyHome");
const { title, brand, description, category, priceDisplay, type, img, qtyDisplay } = page;



// Function to shuffle an array using Fisher Yates algorithm
function shuffleArray(array) {
  for (let i = array.length - 1; i > 0; i--) {
    const j = Math.floor(Math.random() * (i + 1));
    [array[i], array[j]] = [array[j], array[i]];
  }
  return array;
}
// Filter the products by their category of the current product page
const productsInSameCategory = products.filter(product => findMostParentCategory(product.category_id) === page.type);

// Shuffle the filtered products array usin ya boi Fishers algorithm
const shuffledProductsInSameCategory = shuffleArray(productsInSameCategory);

// Display a random selection of 4 products from the same category (epic win)
const recommendedProducts = shuffledProductsInSameCategory.slice(0, 4);


// Find the product configuration for the current product
const productConfiguration = product_configuration.find(config => config.product_item_id === page.id);

// Initialize variation name and option value with default values
let variationName = 'Variation not available';
let variationOptionValue = 'Option value not set';
// Check if productConfiguration exists and has a variation_option_id
if (productConfiguration && productConfiguration.variation_option_id) {
  // Find the associated variation option for the product configuration
  const productVariationOption = product_variation_option.find(option => option.variation_option_id === productConfiguration.variation_option_id);
  
  // Check if productVariationOption exists
  if (productVariationOption) {
    // Find the associated variation name for the product configuration
    const productVariationName = product_variation.find(variation => variation.product_variation_id === productVariationOption.product_variation_id);

    // Update variationName if productVariationName exists
    if (productVariationName) {
      variationName = productVariationName.name;
    }
    // Update variationOptionValue
    variationOptionValue = productVariationOption.value;
  }
}



---
<style>
.home-container {
  width: 100%;
  color: white;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-container2 {

  width: 50%;
  height: 410px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-image {
  
  height: 414px;
  object-fit: fit;
  max-width: 100%;
}
.home-container3 {
  padding-left: 25px;
  width: 50%;
  height: 589px;
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text {
  font-size: 50px;
  margin-top: 5cm;
  align-self: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  color: white;
}
.home-text03 {
  
  align-self: flex-start;
  padding-top: var(--dl-space-space-threeunits);
}
.home-text06 {
  align-self: flex-start;
  padding-top: var(--dl-space-space-threeunits);
}
.home-text09 {
  align-self: flex-start;
  padding-top: var(--dl-space-space-threeunits);
}
.home-text12 {
  align-self: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
}
.qty-display {
  margin-left: 5px; 
}
.home-container4 {
  width: 50%;
  display: flex;
  align-items: center;
  border-color: #ffffff;
  border-style: dashed;
  border-width: 2px;
  overflow: hidden; /* Add this line */
}
.cartButton {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 10px;
}
.cartButton:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .cartButton {
    padding: 10px 30px;
  }
}
.cartButton:disabled {
  background-color: #454b47;
  border: 1px solid #ff0101;
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

</style>

<Layout title={title} >
<html>
<head>
  <title>{title}</title>
</head>
<div class="home-container">
  <div class="home-container1">
    <div class="home-container2">
      <img
        src={img ? img : 'https://i.imgur.com/O01kM4S.jpg'}
        alt="image"
        class="home-image"
      />
    </div>
    <div class="home-container3">
      <span class="home-text">
        <span>{title}</span>
        <br />
      </span>
      <span class="home-text09">
        <span>Price: $ {priceDisplay}</span>
        <br />
      </span>
      <span class="home-text12">
        <span>In stock:</span>
        <p class="qty-display">{qtyDisplay}</p>
      </span>
      <span class="home-text03">
        <span>Brand: {brand}</span>
        <br />
      </span>
      <span class="home-text06">
        <span>Category: {category}</span>
        <br />
      </span>
      <span class="home-text06">
        <span>Product Type: {type}</span>
        <br />
      </span>
      <span class="home-text12">
        <span>Description: {description}</span>
        <br />
      </span>
      <span class="home-text06">
        <span>{variationName}: {variationOptionValue}</span>
        <br />
      </span>
      <span class="home-text12">
        <span>
          <br /> 
          <script is:inline>
            // JavaScript logic to disable buttons if quantity is zero
            document.addEventListener("DOMContentLoaded", function() {
              const qtyDisplayValueElement = document.querySelector('.home-text12 p');
              const qtyDisplayValue = parseInt(qtyDisplayValueElement.textContent.trim(), 10);
              console.log("Qty Display:", qtyDisplayValue);
              const addToCartButton = document.querySelector('.cartButton:nth-of-type(1)');
              const reserveButton = document.querySelector('.cartButton:nth-of-type(2)');
              console.log("Add to Cart Button:", addToCartButton);
              console.log("Reserve Button:", reserveButton);
              
              if (qtyDisplayValue === 0) {
                addToCartButton.disabled = true;
                reserveButton.disabled = true;
              }
            });
          </script>
          <button class="cartButton" role="button" >Add to Cart</button>
          <button class="cartButton" role="button" >Reserve in Store</button>
        </span>
      </span>
    </div>
  </div>
  <div style="display: flex; justify-content: center;">
    <h2 style="color: white; max-width: 100%; overflow-wrap: break-word;">Recommended Products</h2>
  </div>
  <div class="home-container4">
    <div class={`${styles['product-container']}`}>
      {recommendedProducts.slice(0, 4).map((product) => (
        <a href={"/Products/" + product.product_id} ={product.product_id}>
          <div ={product.product_id} class={styles['product-card']}>
            <div class={styles['title-div']}>
              <h1 class={styles['product-name']}>{product.product_name}</h1>
              
            </div>
            <div class={styles['price-div']}>
                <span>Price Per Unit: </span>
                <span class={styles['price']}>{`$ ${product_configuration.find(
                  (config) => config.product_item_id === product.product_id )?.price || 'Price not available'}`}</span>
                  
              </div>
            <img
              alt="image"
              src={product.product_image ? product.product_image : 'https://i.imgur.com/O01kM4S.jpg'}
              class={styles['product-image']}
            />
            <div class={styles['brand-div']}>
              <span class={styles['brand']}>Brand:</span>
              <span class={styles['brand-name']}>{product.product_brand}</span>
            </div>
            <div class={styles['category-div']}>
              <span class={styles['category']}>Category:</span>
              <span class={styles['category-name']}>{categories.find(
                (category) => category.product_category_id === product.category_id
              )?.category_name || 'Category not available'}</span>
            </div>
            <div class={styles['type-div']}>
              <span class={styles['type']}>Product Type:</span>
              <span class={styles['type-name']}>{findMostParentCategory(product.category_id)}</span>
            </div>
            
            
          </div>
        </a>
      ))}
    </div>
  </div>
</div>
</body>

</html>

</Layout>