---
import Layout from '../layouts/Layout.astro';
import styles from '../styles/adminDashboard.module.css';
import { XataClient } from '.././xata';
import { userInfo, getUserInfo, isLoggedIn, clearUserInfo  } from '../components/userInformation';
// Redirect to hobby home page if not admin 
const isAdmin = isLoggedIn.get() && userInfo.userType === 'admin';
if (!isAdmin) {
  return Astro.redirect('/HobbyHome'); 
};
const xata = new XataClient({
  apiKey: import.meta.env.XATA_API_KEY,
  branch: import.meta.env.XATA_BRANCH
});
const { records } = await xata.db.product_category.getPaginated({
  pagination: {
    size: 50
  }
})
---

    <Layout title="Admin Dashboard">
        <div class={styles.container}>
          <h1 class={styles.title}>Welcome to the Admin Dashboard</h1>
          <div class={styles.buttonContainer}>
            <a href="/AddCategory" class={styles.button}>Add Category</a>
            <a href="/AddProductVariation" class={styles.button}>Add Product Variation</a>
            <a href="/AddProductVariationOption" class={styles.button}>Add Product Variation Option</a>
            <a href="/AddProduct" class={styles.button}>Add Product</a>
            <a href="/manage-users" class={styles.button}>Manage Users</a>
          </div>
        </div>
     

  
</Layout>