---
import Layout from '../layouts/Layout.astro';
import styles from '../styles/adminDashboard.module.css';
import { XataClient } from '.././xata';
import { userInfo, getUserInfo, isLoggedIn, clearUserInfo  } from '../components/userInformation';
// Redirect to hobby home page if not admin 
const isAdmin = isLoggedIn.get() && userInfo.get().userType === 'admin';
if (!isAdmin) {
  return Astro.redirect('/HobbyHome'); 
};
const xata = new XataClient({
  apiKey: import.meta.env.XATA_API_KEY,
  branch: import.meta.env.XATA_BRANCH
});
const { records } = await xata.db.product_category.getPaginated({
  pagination: {
    size: 50
  }
})
---

    <Layout title="Admin Dashboard">
        <div class={styles.container}>
          <h1 class={styles.title}>Welcome to the Admin Dashboard</h1>
          <div class={styles.buttonContainer}>
            
            <a href="/AddCategory" class={styles.button}>Add Category</a>
            <a href="/AddProductVariation" class={styles.button}>Add Product Variation</a>
            <a href="/AddProductVariationOption" class={styles.button}>Add Product Variation Option</a>
            <a href="/AddProduct" class={styles.button}>Add Product</a>
            <a href="/ManageProducts" class={styles.button}>Manage Products</a>
            <a href="/AddEvent" class={styles.button}>Add Event</a>
            <a href="/ManageEvents" class={styles.button}>Manage Events</a>
            <a href="/ManageReservations" class={styles.button}>Manage Reservations</a>
            <a href="/ManageUsers" class={styles.button}>Manage Users</a>
            <a href="/ManageProductRequests" class={styles.button}>Manage Product Requests</a>
            <a href="/ManageMessages" class={styles.button}>Manage Messages</a>
            
          </div>
        </div>
     

  
</Layout>